/*
    GENERAL STYLES
*/

html, body {
    font-family: 'PT Serif', serif;
}

p {
    line-height: 1.4;
}

h1 {
    line-height: 2;
}

.container {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.block {
    margin-bottom: 40px;
}

/*
    HEAD STYLES
*/

.hd {
    color: #eee;
    background: rgb(0, 100, 250);
    padding: 100px 0 0 0;
    box-shadow: 0 0 3px 3px #ccc;
}
.hd .nav {
    margin-top: 50px;
}

.hd .nav div {
    display: inline-block;
    font-size: 0;
}

.hd .nav div a {
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 18px 10px;
    position: relative;
}

.hd .nav div a:after {
    content: "";
    height: 2px;
    background: #eee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: scaleX(0);
    transition: .3s ease-out transform;
}

.hd .nav div a:hover:after {
    transform: scaleX(.8);
}

.hd .nav div a.active:after {
    transform: scaleX(.8);
}

/*
    BODY STYLES
*/

.bd .container {
    padding: 10px 0 40px;
    color: #333;
}

/*
    INDEX SPEC STYLES
*/

.index-content {
    position: relative;
}

.index-content p {
    max-width: 570px;
}

.index-content img.me {
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 3px 3px #ccc;
}

/*
    CV SPEC STYLES
*/

.cv-content h2 {
    text-transform: uppercase;
    text-decoration: underline;
}

.cv-content .proj-block {
    margin-bottom: 25px;
}

.cv-content .proj-block div {
    margin-bottom: 8px;
}

.cv-content .univ, 
.cv-content .mentor,
.cv-content .info {
    font-style: italic;
}

.cv-content .date {
    float: right;
}

.cv-content .proj {
    font-weight: bold;
}

.cv-content .sp-after {
    margin-right: 10px;
}

.cv-content ul > li {
    transition: .3s ease-out background;
}

.cv-content ul > li:hover {
    background: #eee;
}